/*Common elements*/
body {  
    background-color: teal;
  background-image: url("https://www.transparenttextures.com/patterns/diamond-upholstery.png");
  /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
 /* font-size: 100%;*/
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
h2{
    color: darkslategray;
    font-size: 2.0em;
}
p{font-size: 1.2em;
        line-height: 1.4em;
        color: #555;
        padding: 0;
        margin: 0px 0.5em 0.75em 0px;}
        .contentWrapper {
            margin: 0 auto;
            max-width: 1170px;
            padding: 0 3.0em;
        }

/*Header*/
header h1 {
    font-family: "cursive";
    color: black;
    font-size: 7.5em;
    letter-spacing: -0.025em;
    margin: 0;    
}
/*Nav Bar*/
nav {
    color: #000;
    font-size: 1.7em;
    letter-spacing: 0.04em;
    padding: 1.0em 1.0em 0.5em;
    margin: 1.0em 0 ;
}
nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
nav li {
    display: inline-block;
    margin: 0;
}
nav li a, nav li a:visited {
    text-decoration: none;
    color: #C64322;
    padding: 0.3em 0.6em;
}
nav li a:hover {
    color: #C64322;
    background-color: rgba(252,251,243,0.75);

/*Resources Section*/
div section#resources {
    width: 300px;
    float: right;
    position: relative;
    display: block;
    background-color: #fff;
    margin: 1.5em 0 3.0em 1.5em;
    padding: 1.7em 0.5em 2.0em 1.7em;
    border-left: #2BA967 solid 5px;
   }
/*Main Section*/
section #main{
    /*background-color: #FCFBE6;*/
    background-color:  rgba(252,251,243,0.7);
    margin: 0 0 2.0em;
    padding: 1.5em 0.2em 1.5em;
    display: inline-block;
    border-radius: 2em;
    box-shadow: 1px 1px 5px #777;/* offset-x | offset-y |blur-radius | color */
}
section div.pict{width: 300px;
    height:400px}
/*Footer*/
  