/*Common elements*/
body{
    font-size: 50%;
    font-family:cursive;
    background: teal url("https://www.transparenttextures.com/patterns/diamond-upholstery.png") ;
    padding: 0;
    margin:0;   
}
  
  h2{
    color: black;
    font-size: 2.5em;
    padding: 0px;
    margin: 0.5em 0 0.35em 0;    
    }
    p{
        font-size: 1.2em;
        line-height: 1.4em;
        color: #555;
        padding: 0;
        margin: 0px 0.5em 0.75em 0px;
    }
    ul{
        font-size: 1.72em;
       
    }
    ul li{
        margin: 5;
        padding: 0 0 2em;
    }
    a, a:visited {
        color: #c622b0;
    }
    a:hover{
        color: #333;        
    }
    .contentWrapper {
        margin: 0 auto;
        max-width: 1200px;
        padding: 0 3.0em;
    }
    .left {
        float: left;
    }
    .right {
        float: right;
    }
div.clear {
    clear: both;
    font-size: 1%;
}
    /*Header*/
header {
    
    height: 100px;
    padding: 2.5em 0 0.5em;
    margin: 0 5 2.0em;
    background: darkslategrey  center 0px;
}
header h1 {
 
    color: black;
    font-size: 6em;
    letter-spacing: -0.025em;
    margin: 2px;    
 
   
}

/*Top Nav Bar*/
nav {
    color: #000;
    font-size: 1.7em;
    letter-spacing: 0.04em;
    padding: 10px 0em 0.5em;
    margin: 1.0em 0 1em 0;
    float: right;
}
nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
nav li {
    display: inline-block;
    margin: 0;
}
nav li a, nav li a:visited {
    text-decoration: none;
    color: grey;
    padding: 0.3em 0.6em;
}
nav li a:hover {
    color:black;
    font-weight: bold;
    background-color: rgba(252,251,243,0.75);
}

/*Sidebar Section*/
div section#resources {
    width: 25%;
    float: left;
 
    display: block;
    background-color:whitesmoke;
    margin: 1.5em 5em 75em 1.5em;
    padding: 1.7em 0.5em 2.0em 1.7em;
    border: black solid 2em;
   }
/*Main Section*/
section #main{
  
    display: inline-block;
    border-radius: 2em;
    box-shadow: 1px 1px 5px #777;
}
section div.panel {
   float:left;
    position: right;
    min-height:200px;
	width:60%;
	background-color: gray;
	padding: 15px 20px 20px 20px;
	margin: 0px 0px 10px 0px;
	border-radius: 0.6em;
}
.pict {
     float: center;
        width: 30%;
        padding: 1em;      
  }
  .row::after {
    content: "";
    clear: both;
    display: table;
  }

/*Footer*/
footer{
    background-color: #40362f;
    height: 45px;
    /*font-size: 1.2em;
    /*color: #fff;*/
   text-align: center;
    padding: 1.5em 2.0em;
}
.socialIcon{

    float: center;
    width: 40px;
    padding:5px 50px 5px 50px;  
}
